{% comment %} {% load widget_tweaks %} {% endcomment %}
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Contact Form</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
  <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  <link 
  {% comment %} rel="stylesheet" {% endcomment %}
  href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>


<style>
  * {
    box-sizing: border-box;
  }
  
  .column {
    float: left;
    width: 40.00%;
    padding: 20px;
  }
  
  /* Clearfix (clear floats) */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
</style>



<body>
  <section class="section">
    <h1 id = 'name' style="font-size:20px"> Hello {{name}} </h1>
    

    <div class="row">
      <div class="column">
        <p style="font-size:30px">Ground Truth Image</p>
        <img src={{ image }} height = "250" />
      </div>
      <div class="column">
        <p style="font-size:30px">Test Image</p>
        <img src={{ annotated }} height = "250" />
      </div>
    </div>
    <div class="column">
      <p style="font-size:15px">{{ count }} images since the last visit to the home page</p>
      <p style="font-size:15px">{{ total }} total images labeled</p>
      <h1 style="font-size:20px">Instructions:</h1>
      <p style="font-size:15px">The goal of this task is to determine if Personally Identifiable Information (PII) present in the “Ground Truth Image” (left) is also present in the “Test Image” (right).</p>
      <h2 style="font-size:20px">PII Labels:</h2>
      <p style="font-size:15px">
        For each Test Image (on the right) select the checkboxes in the “Label PII” column that best describes the PII content (if any) that you can identify. For example, if you can determine a person’s Skin Color, Hair Color, Gender, Height, Weight, and/or see their Face, you would check all the appropriate boxes. Please note that Height / Weight refers to directly or indirectly estimating height/weight sufficient for describing or identifying an individual. If no Personally Identifiable Information is visible in the test image, check the box “No PII”
      </p>
      <h2 style="font-size:20px">Report Issues:</h1>
      <p style="font-size:15px">
        At least one box must be checked to label the image. The image will stay the same until then. The check boxes "No Person in RAW RGB" and "Person Visible in Annotated Image, but no PII" can't be checked at the same time. Also, if the box "Issue" is checked, a description must be provided. If any of the error are present when submit is clicked, the image will stay the same.
      </p>
      <h1 style="font-size:20px">Annotation Tool Usage:</h1>
      <p style="font-size:15px">
        At least one check box under the “Label PII” column must be marked. The submit button will not work until a PII label is added. The checkboxes for “No Person in Ground Truth Image” and “Person Visible in Test Image, but no PII” can't be checked at the same time. If any of the errors are present when Submit is clicked, the image will stay the same.
      </p>
    </div>
    <div class="column">
      <form id = 'form' method="post" >
        {% csrf_token %}
        <div class="field">
          <div class="row">
            <div class="column">
              <h1 style="font-size:20px">Label PII</h1>
              <div class="form-group">
                <label style="font-size:15px">Skin Color</label>
                {{ form.skin_color }}
              </div>
              <div class="form-group">
                <label style="font-size:15px">Hair Color</label>
                {{ form.hair_color }}
              </div>
              <div class="form-group">
                <label style="font-size:15px">Face</label>
                {{ form.face }}
              </div>
              <div class="form-group">
                <label style="font-size:15px">Gender</label>
                {{ form.gender }}
              </div>
              <div class="form-group">
                <label style="font-size:15px">Body Shape</label>
                {{ form.body_shape }}
              </div>
              <div class="No PII">
                <label style="font-size:15px">No PII</label>
                {{ form.no_pii }}
              </div>
              </div>
              <div class="column">
                <h1 style="font-size:20px">Report Issue</h1>  
                <div class="row">
                  <div class="form-group">
                    <label style="font-size:15px">No Person in Ground Truth Image</label>
                    {{ form.no_person }}
                  </div>
                  <div class="form-group">
                    <label style="font-size:15px">Person Visible in Test Image, but no PII</label>
                    {{ form.person_no_pii }}
                  </div>
                  <div class="form-group">
                    <label style="font-size:15px">Issue</label>
                    {{ form.issue }}
                  </div>
                </div>
                <div class="row">
                <div class="form-group">
                  <label style="font-size:15px">Issue Description</label>
                  {{ form.issue_description }}
                </div>
                <div class="form-group">
                  <label style="font-size:15px">User Name</label>
                  {{ form.user_name }}
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="field is-grouped">
          <div class="control">
            <button type="button is-link">Submit</button>
          </div>
          <div class="control">
            <button type="button">               
              <a href="{% url 'index' %}">Home</a>
            </button>
          </div>
        </div>
      </form>
    </div>
  </section>
</body>
<script>
  if(localStorage.getItem('name') != null){
    console.log('localStorage.getItem == null')
    localName = localStorage.getItem('name')
    document.getElementById('name').textContent = "Hello! " + localStorage.getItem('name')
    document.getElementById('id_user_name').value = localStorage.getItem('name')
  }
  else{
    console.log('False')
    let welcome_message = document.getElementById('name').textContent
    name = welcome_message.split(" ")[2]
    console.log(name)
    localStorage.setItem('name', name)
  }
</script>
</html>